* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    display: flex;
    flex: 1;
    height: 100vh;
}

.pad-machine-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.pad-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.pad {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin: 3px;
    transition: all 200ms ease-in-out;
    opacity: 0.1;
}

.pad-control {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin: 3px;
    transition: all 200ms ease-in-out;
    background-color: transparent;
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pad-control select, .pad-control input {
    width: 80%;
}

.pad:hover {
    box-shadow: inset 0 0 0 10em rgba(0, 0, 0, 0.3);
}

.pad-active {
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.4) !important;
}

.pad-machine-controls-container {
    flex-direction: column;
    background-color: #444;
}

.controls-row {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px white;
}

.control-group {
    padding: 10px 0;
    font-size: 32px;
    color: white;
}

.control-group select {
    font-size: 32px;
}

#bpm-control {
    font-size: 23px;
    width: 80px;
}

#bpm-control-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#bpm-control-bar div {
    width: 40px;
    height: 15px;
    background-color: black;
    margin: 0 5px;
}

#bpm-control-bar .bpm-control-bar-active {
    background-color: yellow;
}